html {
    background-color: #1F2937;
    min-width: 800px;

}
* {
    box-sizing: border-box;
    overflow: auto;
    font-family: Roboto;

/*top of hero section */
}
.main {
    align-content: center;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:0;
    margin-bottom: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.top-banner {
    display: flex;
    justify-content: space-between;
}

#header {
    text-align: left;
    margin: 0;
    color: #F9FAF8;
}
.hero-links {
    margin: 0;
    color: #E5E7EB;
    font-size: 10px;
}

.bottom-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-main-box {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    text-align: left;
    width: 50%;
    max-width: 50%;
    justify-content: space-between;
}

#signup-button-top {
    font-size: 12px;
    color: #E5E7EB;
    border: solid #3882F6 1px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 15px;

}

.hero-main-txt-box {
    
    width: 250px;
}

.hero-main-txt {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-main-secondary-txt {
    font-size: 12px;
    color: #E5E7EB;
    margin: 0;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    object-fit: cover;
}

/*bottom of hero section */

.car-img {
    width: 250px;
    height: auto;
}

.main-body {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.body-top {
    height: 300px;
    width: 100%;
}

#body-txt {
    font-size: 22px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.body-list-img {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.img {
    border-radius: 10px;
    border: solid 2px #3882F6;
    width: 120px;
    height: 120px;
    
}

.sub-txt {
    font-size: 12px;
    width: 120px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.quote-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:0;
    margin-bottom: 0;
    background-color: #E5E7EB;
    width: 100%;
    height: 300px;
}

.quote-wrap-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quote-txt {
    font-style: italic;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: left;
    font-size: 24px;
    color: #1F2937;

}

#quote-name {
    font-weight: 900;
    margin: 0;
    margin-left: 150px;
}

/* end of quote section*/

.bottom {
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding: 60px 0px;
}

#bottom-banner {
    display: flex;
    align-content: space-between;
    gap: 85px;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px 100px;
    width: auto;
    
}

#bottom-signup-button {
    align-content: center;
    
}

#signup-button-bottom {
    font-size: 12px;
    color: #E5E7EB;
    border: solid #E5E7EB 1px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 15px;
 }

#bottom-banner-txt {
    margin: 15px 20px;

 }

#h5-bottom-txt {
    margin: 0;
    color: #E5E7EB;
}
#p-bottom-txt {
    color: #E5E7EB;
    margin: 0;
    font-size: 11px;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#footer-trademark-txt {
    color: #E5E7EB;
    font-size: 12px;
}

/*end of footer and bottom banner section*/